/* Font */

body, button, p {
	color: #222222;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

h1, h2 {
	font-family: 'Roboto Slab', serif;
	color: var(--color-primary);
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

/* Images */

.overlay {
	position: relative;
	z-index: -1;
}

.overlay .img-1, .overlay .img-2 {
  display: inline-block;
  animation: rotate 60s linear infinite;
}

.overlay .img-3, .overlay .img-4, .overlay .img-5 {
	position: absolute;
	width: 500px;
}

.overlay .img-3 {
	top: 1%;
	left: 1%;
}

.overlay .img-4 {
	top: 50%;
	left: 10%;
}

.overlay .img-5 {
	top: 20%;
	left: 80%;
}

.overlay .img-5 {
	top: 20%;
	left: 80%;
}

.overlay .corner {
	opacity: 0.5;
	width: 100%;
	bottom: 0;
	right: 0;
	position: absolute;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

img.woman {
	display: block;
	position: absolute;
	width: 500px;
	top: -100px;
	left: -300px;
}

img.flower {
	display: block;
	position: absolute;
	width: 500px;
	top: -100px;
	right: -200px;
}

.overlay img {
	opacity: 1;
	transition: opacity 1.5s;
}

.overlay img.translucent {
	opacity: 0.2;
}

.overlay img.fade {
	opacity: 0;
}

/* Variables */

body {
	--radius: 8px;
	--color-primary: #320b86;
}

/* Basics */

body {
	margin: 0;
	background: #f5f5f6;
}

main {
	padding: 8px;
	padding-top: 0;
	overflow: hidden;
}

.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

/* Header */

header {
	text-align: center;
	padding: 0.5rem;
	background: #fff;
}

header h1 {
	margin: 0;
}

/* Panels */



/* Elements */

.call-to-action {
	position: absolute;
	background: #fff;
	padding: 8px 16px;
	font-size: 1.5rem;
	transform: rotate(-3deg);
	border: 3px solid var(--color-primary);
	border-radius: var(--radius);
	right: 0;
	bottom: -40px;
}

.call-to-action:hover {
	background: rgba(255, 255, 255, 0.6);
	cursor: pointer;
}

/* Form */

.form label, .form input {
	font-family: 'Montserrat', sans-serif;
	display: block;
	width: 100%;
	font-size: 1.5rem;
	margin-bottom: 8px;
}

.form label {
	font-weight: bold;
}

.form .submit {
	background: #fff;
	border: 3px solid var(--color-primary);
	border-radius: var(--radius);
}

.form .submit:hover {
	opacity: 0.6;
	cursor: pointer;
}

.form input {
	position: relative;
	border: 5px solid #757575;
	border-width: 3px 4px 3px 5px;
	border-radius: 2% 40% 43% 5%/41% 35% 13% 10%;
}

/* Desktop */

@media screen and (min-width: 992px) {
	/* Desktop Font */

	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 3rem;
	}

	/* Desktop Basics */

	main {
		margin: 8px 30vw;
		overflow: visible;
	}

	/* Desktop Header */

	h1 span {
		display: inline-block;
	}

	.word-cool {
		transform: translate(5px, 5px) rotate(2deg);
	}

	.word-sketch {
		transform: translate(-5px, 5px) rotate(-2deg);
	}

	.word-scroll {
		transform: translate(5px, -5px) rotate(1deg);
	}

	/* Desktop Elements */

	.call-to-action {
		right: -70px;
	}
}
